{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "no-template-curly-in-string": "off",
    "import/prefer-default-export": "off"
  }
}
